/* styles.css */

/* Body and Header */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('https://i.pinimg.com/736x/9b/3e/55/9b3e55823f77e4c62cfb288561b355d6.jpg');*/
    background: linear-gradient(to bottom, #92b6d1, #b3bec5, #b3bec5, #92b6d1);
    background-size: 100%; /* Adjusted background size */
    margin: 0;
    padding: 0;
}

h1 {
    color:#33577e;/*rgba(41, 80, 95, 0.864);*/
    font-size: 50px;
    margin-bottom: 80px;
}
p {
    color:#33577e;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Main Section */
.hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 50px;
    margin-top: 20px;
}
.button {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .button {
    
    width: 170px;
    height: 80px;
    border-radius: 50px;
    justify-content: space-between;
    background-color:#33577e;
    box-shadow:  #071a2eb6;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  button:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .button:active {
    opacity: 0.5;
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjust the value to increase or decrease space */
    margin-top: 20px;
}
/* .buttons {
    margin-top: 20px;
    box-shadow: none;
} */

/* .button {
    display: inline-block;
    padding: 35px 60px; */
    /* background-color:#33577e;   ;  rgba(41, 80, 95, 0.864); */
    /* color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 25px;
    margin-bottom: -20px; */
/* } */

/* .button:hover {
    background-color: #223b55;
    cursor: pointer;
} */

/* Content Section */
.content {
    text-align: center;
    padding: 50px 20px;
}

.content h1 {
    font-size: 36px;
    color: #333;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

nav {   
    padding: 0;
    display: flex;
    align-items: center;  
    height: 100px;
}

nav ul button {
    height: 120px;
    width: 200px;
    font-size: 16px;
    background: #33577e;
    text-decoration: none;
    border: none;
    color: white;
}

nav ul button:hover {
    background: #619cda3a;
    cursor: pointer;
    text-decoration: underline;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.7);
    transition: transform 0.2s ease-in-out;
}

header {
    background-color:#33577e;
    color: #000000;
    padding: 10px 0;
    align-items: center; 
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 0;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}


#logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}
.spinner {
    /* background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255)); */
    margin-top: 120px;
    margin-left: 20px;
    width: 170px;
    height: 170px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 90px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  }
  
  
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }

#logo {
    height: 130px;
    background-color: #ffff;
    border-radius: 50%;
    border: solid #33577e 30px;
}

