/* styles.css */

/* Body and Header */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('https://i.pinimg.com/736x/9b/3e/55/9b3e55823f77e4c62cfb288561b355d6.jpg');*/
    background: linear-gradient(to bottom, #92b6d1, #b3bec5, #b3bec5, #92b6d1);
    background-size: 100%; /* Adjusted background size */
    margin: 0;
    padding: 0;
}

h1 {
    color:#33577e;/*rgba(41, 80, 95, 0.864);*/
    font-size: 50px;
    margin-bottom: 80px;
}
p {
    color:#33577e;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Main Section */
.hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 50px;
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
    box-shadow: none;
}

.button {
    display: inline-block;
    padding: 35px 60px;
    background-color:#33577e;   ;  /* rgba(41, 80, 95, 0.864);*/
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 25px;
    margin-bottom: -20px;
}

.button:hover {
    background-color: #223b55;
    cursor: pointer;
}

/* Content Section */
.content {
    text-align: center;
    padding: 50px 20px;
}

.content h1 {
    font-size: 36px;
    color: #333;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

nav {   
    padding: 0;
    display: flex;
    align-items: center;  
    height: 100px;
}

nav ul button {
    height: 120px;
    width: 200px;
    font-size: 16px;
    background: #33577e;
    border: none;
    color: white;
}

nav ul button:hover {
    background: #2a4767;
}

header {
    background-color:#33577e;
    color: #000000;
    padding: 10px 0;
    align-items: center; 
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 0;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}

#logo {
    height: 130px;
    background-color: #ffff;
    border-radius: 50%;
    border: solid #33577e 30px;
}