<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <div>
                        <a href="{{ url_for('index') }}"><button>Home</button></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="{{ url_for('about_us') }}"><button>About us</button></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="{{ url_for('contact_us') }}"><button>Contact us</button></a>
                    </div>
                </li>
            </ul>
            <div id="logo-container">
                <img id="logo" src="{{ url_for('static', filename='../static/images/logo.png') }}" alt="Logo">
            </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            <i><h1>Namaste </h1></i>
            <div class="buttons">
                <button id="donateButton" class="button" data-url="{{ url_for('donation') }}">Donate</button>
                <button id="requestButton" class="button" data-url="{{ url_for('request_medicine') }}">Request</button>
            </div><br><br><br>
            <p class="p1">
                Welcome to GiveHub, where every pill counts towards a healthier tomorrow. We are dedicated to bridging the gap between surplus medication and those in need. By donating unused medicines, you not only extend their life but also extend a lifeline to individuals who may otherwise go without essential treatments. Join us in making a difference. Explore how you can donate, learn about our impact, and discover stories of hope from those who benefit from your generosity. Together, we can transform surplus into support and make healthcare more accessible for everyone.
            </p>
        </section>
        
        <section class="hero0">
            <div class="container">
               <div class="hero0-content0">
                   <h2>Our Mission</h2>
                   <p>Our mission is to make a meaningful impact on global health by
                        reducing medicine wastage and ensuring that vital medications reach those in need. We are dedicated
                         to bridging the gap between unused medicine and individuals who require them, 
                       all while collaborating with NGOs to maintain safety and legal compliance.</p>
               </div>
                       <div class="hero-image">
                           <img src="https://www.pngmart.com/files/About-Us-PNG-Isolated-File.png">
                       </div>
            </div> 
         </section>
         <section class="hero2">
             <div class="container2">
                <div class="hero0-content0">
                   <h2>How it Works?</h2>
               <p>
               1. Donation Process: Donors can easily contribute unused or surplus
                medicines through our user-friendly platform. Once a donation is made, our team arranges for collection from the donor’s location.
               </p>
               <p>2.Safety and Compliance: We work closely with NGOs and healthcare professionals to ensure that all donated medicines are safe, properly documented,
                and comply with legal and regulatory standards. Our rigorous inspection process guarantees the quality and safety of every donation.
               </p>
               <p> 3. Request and Delivery: Individuals in need can request medicines through our platform. We ensure that these requests are promptly processed and
                delivered to the recipient, providing timely support where it is most needed.</p>
                </div>
             </div>
         </section>
         <section class="hero3">
           <div class="ph"> 
           <h2>Team Members</h2>
           </div>
           <div class="container3">
                   <div class="team-member">
                       <div class="member1">
                       <img src="static\images\aniket.jpg" alt="Team Member 1">
                         <div class="name">Aniket Vaidya</div>
                       </div>
                       <div class="member2">
                       <img src=static\images\pratik.jpg alt="Team Member 2">
                         <div class="name">Pratik patil</div>
                       </div>           
           
                      <div class="member3">
                      <img src=static\images\lokesh.jpeg alt="Team Member 3">
                         <div class="name">Lokesh Patil</div>
                      </div>
           
                      <div class="member4">
                       <img src=static\images\diksha.jpeg alt="Team Member 4">
                        <div class="name">Diksha Rane</div>
                       </div>
                   </div>
          </div>
         </section>
         <!-- <section class="hero4">
           <div class="container4">
               <div class="hero0-content0">
                 <h2 >Story</h2>
                 <p> We are a passionate team committed to addressing the challenges of medicine scarcity and wastage. Our platform connects generous donors with individuals and communities who need essential medicines.
                     By facilitating the donation of unused medications, we aim to support health and well-being while reducing environmental impact.</p> -->
            <!-- <div class="contact-info">
            <p><strong>Email:</strong> <a href="mailto:ranediksha363@gmail.com">ranediksha363@gmail.com</a></p>
            <p><strong>Phone:</strong> <a href="tel:8624061812">8624061812</a></p>
            </div>
            <p><strong>Follow Us:</strong></p>
             <div class="social-media">
                <a href="https://www.instagram.com/diya_rane12?igsh=MWhydXBwYWV2NDNtNA==" target="_blank">Instagram</a>
             </div> -->
            </div>
          </div>
         </section> 
    </main>
    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>

</body>
</html>
